{% extends 'base.html' %}


{% block content %}
{% load static %}
<head>
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}
   
    </head>
<body>
<div class="centrar">
</br>
<a class="nav-link button" href="{% url 'herramienta1' %}">Registro de reciclaje</a>
</br>
    <a class="nav-link button" href="{% url 'info' %}">Informacion Reciclaje</a>
</br>
    <a class="nav-link button" href="{% url 'xd' %}">Noticias</a>
</div>
</body>
<div class="centrar">
{% endblock %}