<!DOCTYPE html>
<html>
<head>
    <title>Proyecto intro</title>
</head>
<body>
    <div class="home">
        <h1>Título del proyecto</h1>
        <p>Este es un párrafo para cualquier cosa</p>
        <ul>
            <button onclick="window.location.href='paginareciclaje.html'">Ir a la página 1</button>
            <button onclick="window.location.href='paginaotrapagina.html'">Ir a la página 2</button>
        </ul>
    </div>
    <div>
        <form action="insete procesador de inicio" method="post" > <!-- no se que es method eso lo copié xd -->
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Contraseña:</label>
        <input placeholder="ColoColo" type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Iniciar Sesión">
    </div>
</body>
</html>