<h1>Hola Mundo</h1>
<div></div>
<table>
    <tr>
        <td>Tarea 1  
            <input type="checkbox"
            id="switch"
            class="checkbox"/>
        </td>
    </tr>    
    <tr>
        <td>Tarea 2  
            <input type="checkbox"
            id="switch"
            class="checkbox"/>
        </td>
    </tr>
    <tr>
        <td>Tarea 3  
            <input type="checkbox"
            id="switch"
            class="checkbox"/>
        </td>
    </tr>    
    <tr>
        <td>Tarea 4  
            <input type="checkbox"
            id="switch"
            class="checkbox"/>
        </td>
    </tr>
</table>