{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;">
    <h1>Registra tu reciclaje:</h1>
    <p>Hoy has reciclado:</p>
</div>
<html>
<head>
    <title>Pagina de reciclaje</title>
</head>
<div style="text-align: center;">

        {% csrf_token %}
        <form method="POST" action="{% url 'herramienta1' %}">
            
            {% csrf_token %}
    
            <label><input type="checkbox" name="item" value="Plasticos">Plasticos </label><br>
            <label><input type="checkbox" name="item" value="Papel"> Latas</label><br>
            <label><input type="checkbox" name="item" value="Cartón"> Cartón</label><br>
            <label><input type="checkbox" name="item" value="Papel"> Papel</label><br>
        
            <button type="submit">Registrar</button>
        </form>
        &nbsp
        &nbsp
        <h2>Sus puntos actuales: {{ user_profile.puntos }}</h2>
</div>
</html>
{% endblock %}
