<!DOCTYPE html>
<html>
<head>
    <title>¿Cómo podemos recilcar?</title>
</head>
<body>
    <h1>¿Cómo podemos recilcar?</h1>

    <img src="conjunto-verde-carteles-reciclados_78370-662.avif" alt="reciclaaaa">
    
    <h2>1. Usa botellas/vasos reutilizables para tus bebidas fuera de casa.</h2>

    <p>Probablemente, ya tienes una botella reutilizable, pero ¿la usas todo el tiempo? Pon esa 
        botella reutilizable en circulación: ahorrarás dinero y reducirás la basura. Además, si 
        llevas tu propia agua cuando sales de tu casa, comprarás menos bebidas más caras por la calle. 
        Esto eliminará los contenedores de uso único en los que vienen. Si bien la mayoría de las latas 
        y botellas pueden reciclarse, se necesita un montón de energía para producirlas, transportarlas 
        a la planta embotelladora y luego a las tiendas.</p> 

    <h2>2. Usa bolsas de compras reutilizables, y no solo para hacer las compras</h2>
    
    <p>Al igual que las botellas reutilizables, seguramente tienes una bolsa de compras 
        reutilizable, pero con frecuencia queda olvidada en casa. ¿Y si escribes bolsas arriba de 
        todo de tu lista de compras como recordatorio? También puedes tenerlas siempre en el 
        asiento trasero, así no se te olvidan. Muchas tiendas te harán un reembolso de 5 centavos 
        por cada bolsa, así que, además de reducir tu consumo de bolsas de plástico de un solo uso, 
        también ahorrarás unos centavos.</p> 

    <h2>3. Evita contenedores y cubiertos de un solo uso.</h2>
    <p>Siempre que sea posible, intenta no usar vasos de café, cubiertos, pajillas y servilletas 
        descartables. Algunos negocios incluso te darán un descuento sobre tu café si llevas tu 
        propia taza. En la oficina, ten un juego de vajilla, cubiertos, bol y taza quepuedas lavar y 
        volver a usar. Evita completamente las pajillas o compra las reutilizables de metal. Recuerda: 
        muchos de estos artículos están hechos de plástico, fueron transportados en un camión y 
        terminarán en un vertedero una vez que los usamos solo una vez. Todo lo que podamos hacer para 
        reducir nuestro consumo de estos productos contribuye a lograr un gran impacto.</p> 
    
    <img src="Todo-reciclaje.webp" alt="reciclaaaa2222">
    
    <h3>Información extrahída de The Nature Conservancy. 
        URL: https://www.nature.org/es-us/que-hacemos/nuestras-prioridades/ciudades-saludables/como-reducir-la-basura/</h3>
    </body>
</html>